{include file="public/header" /}
<body>
<div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>考试管理</cite></a>
              <a><cite>{$title|default='考试列表'}</cite></a>
            </span>
  <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>


<div class="x-body">
  <!-- 右侧内容框架，更改从这里开始 -->
  <form class="layui-form xbs" action="{$index|default='/'}">
    <div class="layui-form-pane" style="text-align: center;">
      <div class="layui-form-item" style="display: inline-block;">
        <div class="layui-input-inline">
          <input type="text" name="string" placeholder="考试名称/考试描述" autocomplete="off" class="layui-input" value="{$string}">
        </div>
        <div class="layui-input-inline" style="width:80px">
          <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </div>
      </div>
    </div>
  </form>

  <xblock>
    <button class="layui-btn" onclick="member_edit('添加','{$edit|default='/'}','{$index|default='/'}',0)"><i class="layui-icon">&#xe608;</i>添加</button>
<!--     <button class="layui-btn layui-btn-danger" onclick="member_del(-1,'{$del|default='/'}','{$index|default='/'}')"><i class="layui-icon">&#xe640;</i>批量删除</button> -->
    <span class="x-right" style="line-height:40px">共有数据：{$cnt} 条</span>
  </xblock>


  <table class="layui-hide" id="table" lay-filter="tableTool"></table>

  <div class="page">
    {$list->render()}
  </div>

</div>
{include file="public/top_js" /}

<script type="text/html" id="barTool">
    <div class="td-manage">
          <a title="编辑" href="javascript:;"  lay-event="edit"
             class="ml-5" style="text-decoration:none" 
            ><i class="iconfont" >&#xe69e;</i>
          </a>
          
          <a title="删除" href="javascript:;" lay-event="del"
             style="text-decoration:none">
            <i class="iconfont">&#xe69d;</i>
          </a>
  </div>
</script>

<script type="text/html" id="a">
    <a  href="javascript:;"  lay-event="A" class="ml-5" style="text-decoration:none" >
      <i class="iconfont">&#xe6fc;</i>
    </a>
</script>

<script type="text/html" id="b">
    <a  href="javascript:;"  lay-event="B" class="ml-5" style="text-decoration:none" >
      <i class="iconfont">&#xe6a2;</i>
    </a>
</script>
<script>
  var dataList = <?php echo json_encode($list);?>;
  console.log(dataList);
  for (var i = 0; i < dataList.data.length; i++) {

    dataList.data[i].show_analysis = dataList.data[i].show_analysis==1 ? '是' : '否';

    if(dataList.data[i].record_status==1){
        dataList.data[i].record_status='启用';
    }else if(dataList.data[i].record_status==2){
        dataList.data[i].record_status='禁用';
    }else if(dataList.data[i].record_status==-1){
        dataList.data[i].record_status='标记删除';
    }else if(dataList.data[i].record_status==-2){
        dataList.data[i].record_status='彻底删除';
    }
  }

  layui.use(['table','layer'],function(){
    var layer = layui.layer;
    var table = layui.table;
    table.render({
      elem: '#table'
      ,data: dataList.data
      ,cols: [[
        {field:'fid', width:80, title: 'ID'}
        ,{field:'exam_name',  width:178, title: '考试名称'}
        ,{field:'duration',title: '考试时长(分钟)'}
        ,{field:'score_total',  title: '考试总分'}
        ,{field:'score_pass',title: '考试及格分数'}
        ,{field:'show_analysis',  title: '答案解析显示'}
        ,{field:'record_status',  title: '状态'}
        ,{title: '考试题目',toolbar:"#a"} 
        ,{title: '成绩单',toolbar:"#b"}
        ,{field:'create_time', width:160,  title: '创建时间'}       
        ,{fixed: 'right', width:178, align:'center', toolbar: '#barTool'}
      ]]
      ,page: false
      ,limit: dataList.data.length
    });

    //监听工具条
    table.on('tool(tableTool)', function(obj){
      var data = obj.data;
      if(obj.event === 'del'){
        member_del(data.fid,'{$del|default="/"}','{$index|default="/"}')
      }else if(obj.event === 'edit'){
        member_edit('编辑','{$edit|default="/"}','{$index|default="/"}',data.fid,0,0)
      } else if(obj.event === 'A'){
        member_edit('考试题目','/exam/subject','{$index|default="/"}',data.fid,0,0)
      } else if(obj.event === 'B'){
        member_edit('成绩单','/exam/result','{$index|default="/"}',data.fid,0,0)
      }
    });
  })
</script>
</body>
</html>