{include file="public/header" /}
	<body>
		{include file="public/top" /}
		<div class="containerlist">
			{include file="public/label" /}	
			<div class="ctpage1" style="padding-top: 0px;">	
					<div class="conter1200">
						<div class="newslft">
							<div class="colleglist">
								<div class="newslfts">
										<h3 class="expert_h3">陈文森</h3>
										<div class="newstimect">
											<div class="expert_img">
												<img src="../images/ipc-meeting.png" />
											</div>
											<div class="expert_info">
												陈文森，副主任医师，科室副主任<br />
就职于江苏省人民医院感染管理办公室，从事医院感染流行病学，临床流行病学研究。<br />
中华预防医学会医院感染控制分会委员<br />
中华预防医学会医院感染控制分会暴发处置、感染监测与信息化建设学组副组长<br />
中华预防医学会医院感染控制分会青年委员会副主任委员<br />
中国研究型医院学会QSHE 管理专业委员会委员<br />
江苏省医院协会医院感染管理委员会委员<br />
2017年 “全国医院感染管理优秀青年学者”和“科学感控优秀基层实践者”<br />
2016年SHEA“国际感控大使”<br />
《中国感染控制杂志》和《中华医院感染学杂志》青年编委。以第一作者或·通讯作者发表SCI论文或中文核心期刊论文20余篇。主编和主译论著5部。<br />
2014年12月~1015年2月受国家卫生计生委委派，赴西非塞拉利昂进行埃博拉出血热公共卫生师资培训。
											</div>
										</div>
									</div>
								</div>
								
								
							</div>
							<div class="newsrg">
								<div class="logimg">
									<img src="../images/img1.png" />
								</div>
								<div class="hottxt">
									热门关注
								</div>
								<div class="codewx">
									<div class="wx01">
										<img src="../images/icon-code.png" />
										<p>关注SIFIC微信快速获取最新资讯</p>
									</div>
									<div class="wx01">
										<img src="../images/icon-code2.png" />
										<p>关注SIFIC论坛纵观感控新观点</p>
									</div>
								</div>
							</div>
						
					</div>		
				</div>
			</div>
			
			
		</div>
		{include file="public/partner" /}
		<div class="footer"> 
			{include file="public/footer2" /}
		</div>
	</body>
</html>
