<div class='newsrg'>
              <div class='logimg'>
                <img src='/uploads/20180626/a083d0f9aec928b64391663b7e8c461e.png' />
              </div>
              <div class='hottxt'>
                热门关注
              </div>
              <div class='codewx'>
                <div class='wx01'>
                  <img src='/static/web/images/icon-code.png' />
                  <p>关注SIFIC微信快速获取最新资讯</p>
                </div>
                <div class='wx01'>
                  <img src='/static/web/images/icon-code2.png' />
                  <p>关注SIFIC论坛纵观感控新观点</p>
                </div>
              </div>
             </div>