<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<title></title>
		<link rel="stylesheet" href="../css/bootstrap.css" />
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/lrtk.css" />
		<script type="text/javascript" src="../libs/jquery/jquery.js" ></script>
		<script type="text/javascript" src="../libs/bootstrap/bootstrap.min.js" ></script>
		<script type="text/javascript" src="../js/jquery.flexslider-min.js" ></script>
		<script type="text/javascript" src="../js/koala.min.1.5.js" ></script>
		<script type="text/javascript" src="../js/my_js.js" ></script>
		<script type="text/javascript" src="../js/slideshow.js" ></script>
	</head>
	
	<body>
		<div class="navbarfixed-top">
			<div class="navct">
				<div class="logo"><a href="../index.html"><img src="../images/logo.png"/></a></div>
				<div class="navlist" ng-controller="nav">
					<div id="navigation">
						<ul>
							<li class="noenli"><a href="../index.html" class="noenNav">首页</a></li>
							<li class="noenli"><a href="meeting.html" class="noenNav">直播室</a>
								<div class="navcts">
									<ul>
										 <li><a href="#">大会直播</a></li>
										 <li><a href="#">专家培训</a></li>
										 <li><a href="#">专家查房</a></li>
					                     <li><a href="#">病例讨论</a></li>
					                     <li><a href="#">专家面对面</a></li>
					                     <li><a href="#">省市级学习班</a></li>
					                     <li><a href="#">厂家展示</a></li>
					                </ul>
								</div>
							</li>
							<li class="noenli"><a href="about.html" class="noenNav">学院</a>
								<div class="navcts">
									<ul>
										 <li><a href="#">大会直播</a></li>
										 <li><a href="#">专家培训</a></li>
										 <li><a href="#">专家查房</a></li>
					                     <li><a href="#">病例讨论</a></li>
					                     <li><a href="#">专家面对面</a></li>
					                     <li><a href="#">省市级学习班</a></li>
					                     <li><a href="#">厂家展示</a></li>
					                </ul>
								</div>
									
					        </li>
						</ul>
					</div>
				</div>
				<div class="navright">
					<div class="search">
						<div class="search_list">
							<div class="search_txt">
								<input type="text" placeholder="请输入搜索内容"  />
							</div>
							<div class="search_btn">
								<a href="#"><span class="glyphicon glyphicon-search"></span></a>
							</div>
						</div>
					</div>
					 <div class="nologin ellipsis">
		             	<a href="#/login">登录</a>&nbsp;|&nbsp;<a href="#/register">注册</a>
		             </div>
				</div>
			</div>
			
		</div>
		<div class="containerlist">
			<div class="ctpage1" >
				<div class="conter1200">
					<div class="weizhi">
						当前位置&nbsp;>&nbsp;首页&nbsp;>&nbsp;SIFIC专栏&nbsp;>日程详情
					</div>
					
				</div>
			</div>
			<div class="ctpage1" style="padding-top: 0px;">	
					<div class="conter1200">
						<div class="newslft">
							<div class="colleglist">
								<div class="newslfts">
										<h2>2018 国际医疗高峰论坛国际医疗高峰论坛<br />
											<span style="font-size: 18px; color: #777;">主持人：龚玉秀、富强、黄金熊</span>
										</h2>
										
										<div class="newstimect">
											<div class="sechetime">
												<div class="divleft sechetime01" >时间：2018年5月17日星期四1:00-5:30</div>
												<div class="divright sechetime02">地点：第2会议室（世纪厅）1层</div>
											</div>
											<div class="pingjie_ct">
												<div class="pingjie_list">
													<div class="pingjie">13:00-13:00</div>
													<div class="pingjie">PW1-1:感染规范诊疗防控与患者安全</div>
													<div class="pingjie">讲者：富强</div>
												</div>
												<div class="pingjie_list">
													<div class="pingjie">13:00-13:00</div>
													<div class="pingjie">PW1-1:感染规范诊疗防控与患者安全控与患者安全</div>
													<div class="pingjie">讲者：富强</div>
												</div>
												<div class="pingjie_list">
													<div class="pingjie">13:00-13:00</div>
													<div class="pingjie">PW1-1:感染规范诊疗防控与患者安全</div>
													<div class="pingjie">讲者：富强</div>
												</div>
												<div class="pingjie_list">
													<div class="pingjie">13:00-13:00</div>
													<div class="pingjie">PW1-1:感染规范诊疗防控与患者安全</div>
													<div class="pingjie">讲者：富强</div>
												</div>
											</div>
											
										</div>
									</div>
								</div>
								
								
							</div>
							<div class="newsrg">
								<div class="logimg">
									<img src="../images/img1.png" />
								</div>
								<div class="hottxt">
									热门关注
								</div>
								<div class="codewx">
									<div class="wx01">
										<img src="../images/icon-code.png" />
										<p>关注SIFIC微信快速获取最新资讯</p>
									</div>
									<div class="wx01">
										<img src="../images/icon-code2.png" />
										<p>关注SIFIC论坛纵观感控新观点</p>
									</div>
								</div>
							</div>
						
					</div>		
				</div>
			</div>
			
			
		</div>
		<div class="ctpage1">
			<div class="conter1200">
				<img src="../images/pic-advertising.png" />
			</div>
		</div>
		
		<div class="footer">
			
		</div>
	</body>
</html>
