{include file="public/header" /}
		
		<div class="conter960">
			<div class="mbxue">
				位置&nbsp;>&nbsp;搜索
			</div>
			<div class="mt_pulic_module" style="padding-left: 20px; padding-right: 20px;">
				<div class="search_classify">
					<div class="searchlf">模块：</div>
					<div class="searchrg" id="module"><button value="1" class="active">直播</button><button value="2">会议</button><button value="3">培训</button></div>
				</div>
				<div class="search_classify2">
					<div class="searchlf">分类：</div>
					<div class="searchrg" id="module_list"></div>
				</div>
			</div>
			
			<div class="mt_pulic_module" style="padding: 20px;">
			<div class="mt_txt">
				<div class="searchlist" style="margin-bottom: 40px;">
					
				</div>
				<div id="pagination"></div>
			</div>
			</div>
			<!--<div class="logos">
				<img src="../images/pic_advertising.png" />
			</div>-->
			
		</div>
{include file="public/footer2" /}
<script type="text/javascript" src="/static/web/js/module/search.js" ></script>
	