{include file="public/header" /}
<script src="//imgcache.qq.com/open/qcloud/video/vcplayer/TcPlayer-2.2.2.js"></script>
		<div class="conter960">
			<div class="mbxue">
				位置&nbsp;>&nbsp;培训&nbsp;>&nbsp;<span id="class_name"></span>&nbsp;>&nbsp;<span id="title2"></span>
			</div>
			
			<div class="liveinfo">
				<div class="peix_video">
					<div class="peix_videolf" style="position: absolute;">
						<div id="video-container" style="margin: 0px auto;"></div>
					      <div id="shadow"></div>
					</div>
					<div class="peix_video_nav">
						<ul class="peix_video_ul">
							
						</ul>
					</div>
				</div>
				<div class="liveinfo_title">
					<div class="liveinfo_titlelf ellipsis" id="title"></div>
				</div>
				<div class="liveinfo_ct">
					<div class="title">
						<div class="title_txt2">简介</div>
					</div>
					<p style="font-size: 16px; color: #555;" id="description"></p>
					<div class="title">
						<div class="title_txt2">讲师</div>
					</div>
					<ul class="guestlive_ul">
						
					</ul>
					<div class="title">
						<div class="title_txt2">评论</div>
					</div>
					<div class="review">
						<div class="review_input">
							<div class="review_input_lf">
								<img src="" id="userimg" />
							</div>
							<div class="review_input_rg">
								<textarea class="form-control" id="content" style="resize:none; height: 100px;" placeholder="我说两句..." ></textarea>
								<button class="fab_btn">发表</button>
							</div>
						</div>
						
						<div class="review_list">
							
						</div>
					</div>
				</div>
			</div>
			
			<!--<div class="logos">
				<img src="../images/pic_advertising.png" />
			</div>-->
		</div>
{include file="public/footer2" /}

<script type="text/javascript" src="/static/web/js/module/recordinfo.js" ></script>
<div class="pulic_t_div" id="recrd" style="display: none;">
	<div class="pulic_recor">
		<div class="pulic_t_txt">
			<div class="daytiem_close"></div>
			<h1 class="test_h1" id="exam_name"></h1>
			<div class="pulic_recor_txt">
				<form id="recor_form">
				<div class="test_subject">
				
				</div>
				</form>
			</div>
			<div style="width: 100%; float: left; text-align: center;" id="training_upload"><button class="subject_t_btn">确定</button></div>
		</div>
	</div>
</div>

<div class="pulic_t_div" id="score_tis" style="display: none;">
	<div class="pulic_t_divct">
		<div class="pulic_t_txt">
			<div class="daytiem_close"></div>
			<div class="subject_title" id="subject_title"></div>
			<div class="subject_txt" id="subject_txt"></div>
			<div style="width: 100%; float: left; text-align: center;"><button class="subject_t_btn" id="score_btn">确定</button></div>
		</div>
	</div>
</div>

