{include file="public/header" /}
<div class="conter980">
    <p style="text-align:center;line-height:150%;font-size: 30px;line-height: 120px;font-weight: bold;">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;"><span style="font-family:宋体">关于评选</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;">“SIFIC 2019</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;"><span style="font-family:宋体">卓越感控追梦之星</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;">”</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;"><span style="font-family:宋体">的通知</span></span>
    </p>
    <p style="line-height:150%">
        <strong><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">一、背景</span></span></strong>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">上海国际医院感染控制论坛（</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">SIFIC</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">）成立于</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">2007</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">年，目前拥有注册会员</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">17</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">万、官方微信号粉丝</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">30</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">余万，是国内感控领域最大的网上交流平台，也是国内唯一集官方网站、网络论坛、官方微信</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">/</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">微博、考试系统、督查系统等系列学习交流管理工具为一体的学术团体。在线下，</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">SIFIC</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">曾与中华预防医学会医院感染控制分会联合举办全国大型感控学术会议</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">11</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">届，已成为我国参会人数最多、规模最大、形式最新、内涵与国际接轨的感控盛会。由</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">SIFIC</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">团队撰写的十余部感控专业书籍亦成为国内感控从业人员最喜欢的辅导书。此外，</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">SIFIC</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">还支持国家级医院感染质量管理与控制中心及其它专业学术组织开展了大量的医院感染管理相关活动，为中国感控事业的发展做出了巨大贡献。</span></span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">&nbsp;</span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">今年，由上海斯菲克微生物应用技术研究中心和上海市院内感染质控中心联合主办，国家卫健委能力建设和继续教育中心支持、复旦大学附属中山医院承办的第</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">15</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">届上海国际医院感染控制论坛（</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">SIFIC</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">）暨第</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">3</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">届东方耐药与感染大会（</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">OCAMRI</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">）联合会议（以下简称</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">“2019</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">全国感控与耐药感染大会</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">”</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">）定于</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">2019</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">年</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">5</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">月</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">29</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">日～</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">6</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">月</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">2</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">日在上海跨国采购会展中心召开。</span></span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">&nbsp;</span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">为进一步推动科学有效的医院感染预防控制措施在各级医疗机构的全面实施，培养年轻的一线感控工作者，为新时代的感控行业储备力量与人才，促进我国感控事业的深入发展，</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">“2019</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">全国感控与耐药感染大会</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">”</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">决定组织</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">“SIFIC 2019</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">卓越感控追梦之星</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">”</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">评选活动。我们将秉承公平、公开、公正的原则，采取</span></span><strong><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">自荐</span></span></strong><strong><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">与推荐</span></span></strong>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">相结合</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">的方式，让拥有新理念、新实践的新一线感控业务骨干入选。</span></span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">&nbsp;</span>
    </p>
    <p style="line-height:150%">
        <strong><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">二、评选对象与申请条件</span></span></strong>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">全国</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">32</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">个省市（含</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">军队系统及</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">新疆兵团，不含港澳台）各级医疗机构中从事医院感染防控的专业技术人员，评选</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">50</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">人。</span></span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">&nbsp;</span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">(</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">一</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">)</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">基本条件</span></span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">1. </span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">年龄</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">40</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">周岁以下（</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">1979.1.1</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">日后出生）；</span></span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">2. </span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">在</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">医院感染</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">管理部门专职</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">工作</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">3</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">年以上；</span></span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">3. </span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">近</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">5</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">年以第一作者或通讯作者在统计源期刊上发表医院感染相关学术论文至少</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">3</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">篇；</span></span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">注：虽符合上述条件，但已成为全国</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">级别医院感染</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">相关学会委员或青年委员会副主委以上的人员，不</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">列入</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">本次评选</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">范围</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">。</span></span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">&nbsp;</span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">(</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">二</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">)</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">优先条件</span></span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">1. SIFIC</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">中级以上会员，在线时长</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">50h</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">以上；</span></span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">2. </span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">近</span> </span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">3</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">&nbsp;<span style="font-family:宋体">年以第一作者或通讯作者在</span> </span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">SCI </span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">期刊上发表医院感染相关学术论文；</span></span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">3</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">. </span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">近</span>        </span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">3 </span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">年主持局级以上或参加省部级以上感控相关课题研究；</span></span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">4</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">. </span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">近</span>        </span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">3 </span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">年在感控相关的国家级继续医学教育培训班上讲课，或在省级以上感控相关的年会上做专题学术报告；</span></span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">5</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">.</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">&nbsp;<span style="font-family:宋体">近</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">3</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">年参与过医院感染相关书籍的编写；</span></span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">6</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">.</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">&nbsp;</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">近</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">3</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">年被评为</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">SIFIC</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">优秀版主、优秀会员、最佳辩手、创作达人等荣誉；或近</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">1</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">年在</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">SIFIC</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">感染网、</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">SIFIC</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">感染官微上发表原创文章</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">5</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">篇以上或任职编辑、审稿等岗位。</span></span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">&nbsp;</span>
    </p>
    <p style="line-height:150%">
        <strong><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">三、申报材料</span></span></strong>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">1</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">．详细填写</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">“SIFIC 2019</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">卓越感控追梦之星</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">”</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">申请表并加盖单位公章；</span></span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">2</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">．已发表在统计源期刊以上杂志的文章至少</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">3</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">篇（</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">PDF</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">格式）；</span></span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">3</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">．其它证明材料（请参照优先条件）。</span></span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">&nbsp;</span>
    </p>
    <p style="line-height:150%">
        <strong><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">四、奖励措施</span></span></strong>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">1</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">．资助全额免费参与</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">“2019</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">全国感控与耐药感染大会</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">”</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">。资助内容包括：会务费、资料费、会议期间</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">4</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">天住宿费（</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">2019</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">年</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">5</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">月</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">29</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">日</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">~6</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">月</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">2</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">日）、往返上海的长途交通费（</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">T/K/Z</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">之硬卧，高铁二等座；如乘坐飞机，超出火车票价部分费用需自理）。</span></span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">2</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">．颁发</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">“SIFIC 2019</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">卓越感控追梦之星</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">”</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">荣誉证书。</span></span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">&nbsp;</span>
    </p>
    <p style="line-height:150%">
        <strong><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">五、报名方式与评选方法</span></span></strong>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">1. </span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">采用自荐</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">与推荐相结合</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">的方式进行报名</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">；</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">申请者</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">依照</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">上述</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">申请</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">条件填写申请表（见附件</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">2</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">）</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">，</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">并上传本人相片。</span></span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">2</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">. </span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">申请者</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">自行联系</span>“推荐人”（国家级医院感染相关学会常委或青年委员会副主委以上、省级医院感染质控中心主任、省级医院感染相关学会主任委员，或SIFIC管理员/版主）（附件1已提供各省市SIFIC管理员/版主名单供参考）</span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">3. 申请表填写完成后，加盖单位公章并扫描成PDF文件。</span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">4</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">. </span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">注册大会网站（</span></span>
        <span style=";font-family:宋体;line-height:150%;letter-spacing:0;text-underline:rgb(0,0,0);font-size:16px">http://2019.sific.com.cn/），找到</span><strong><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">指定界面再次填写表格，</span></span></strong>
        <span style=";font-family:宋体;line-height:150%;letter-spacing:0;text-underline:rgb(0,0,0);font-size:16px"><span style="font-family:宋体">将已加盖单位公章的申请表（</span>PDF文件）、发表论文（PDF）和其它证明材料，打包压缩成ZIP或RAR格式，一同上传（请尽量精简压缩控制在100M内）</span>
        <span style=";font-family:宋体;line-height:150%;letter-spacing:0;text-underline:rgb(0,0,0);font-size:16px"><span style="font-family:宋体">。</span></span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">5. </span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">根据候选人的工作成绩，由评委会在全国层面上综合考评、审核并确定最终名单。</span></span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">&nbsp;</span>
    </p>
    <p style="line-height:150%">
        <strong><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">六、截止时间</span></span></strong>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">申报截止时间为</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">2019</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">年</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">5</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">月</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">5</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">日，</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">5</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">月</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">6</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">日</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">-1</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">2</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">日组委会进行终评</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">，</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">5</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">月</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">1</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">3</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">日后公布入选名单。</span></span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">&nbsp;</span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">有关评选的信息，将在上海国际医院感染控制论坛（</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">SIFIC</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">）的相关版块（</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">bbs.sific.com.cn</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">）、</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">SIFIC</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">感染网（</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">www.sific.com.cn</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">）、</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">SIFIC</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">感染官微（</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">SIFIC2007</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">）公布。</span></span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">&nbsp;</span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">附件</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">1</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">：</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">可作为</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">“</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">推荐</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">人</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">”</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">的</span>SIFIC管理员/版主</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">名单</span></span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">附件</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">2</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">：</span></span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">“SIFIC 2019</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">卓越感控追梦之星</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">”</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">申请表</span></span>
    </p>
    <p style="line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">&nbsp;</span>
    </p>
    <a href="/static/web/docx1.docx" download="附件1.docx" style="color:blue;text-decoration:underline;">附件1：可作为“推荐人”的SIFIC管理员/版主名单</a>
    <br/>
    <a href="/static/web/docx2.docx" download="附件2.docx" style="color:blue;margin:20px 0;display:block;text-decoration:underline;">附件2：“SIFIC 2019卓越感控追梦之星”申请表</a>
    <p style="text-align:right;line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">胡必杰</span> <span style="font-family:宋体">医学博士，教授</span></span>
    </p>
    <p style="text-align:right;line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">第</span>15届上海国际医院感染控制论坛（SIFIC）暨第3届东方耐药与感染大会（OCAMRI）联合会议大会主席</span>
    </p>
    <p style="text-align:right;line-height:150%">
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">2019</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">年</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">4</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">月</span></span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">2</span><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px">4</span>
        <span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">日</span></span>
    </p>
    <p>
        <br/>
    </p>
    <br/>

</div>
{include file="public/footer2" /}