{include file="public/header" /}
		<div class="conter960">
			{include file="public/mbxue2" /}
			<div class="abstract_list" style="height: 700px;">
				<div class="title_abs_list" style="margin-bottom: 30px;">
					<div class="title_abs">开具发票</div>
				</div>
					<div class="abs_txtlist">
						<div class="abs_input">
							<p style="text-align: center; color: #232323; font-size: 15px; margin-bottom: 50px;">您的电子发票已开具成功！扫描下面的二维码查看开票信息！</p>
							<div style="display: inline-block; width: 100%; text-align: center;">
								<img src="" width="200" height="200" />
								<p style="text-align: center; font-size: 15px; color: #598DC4; padding-top: 10px;"><a href="#">点击下载发票</a></p>
							</div>
								<div style="float: left; display: inline-block; width: 100%; border-top: 1px solid #ddd; margin-top: 50px; padding-top: 50px;">
									<div class="abs_btn02" >
										
										<input type="button" name="" id="" value="返回会议首页" />
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
			
		</div>

{include file="public/footer2" /}
