{include file="public/header" /}
<body>
<div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>系统管理</cite></a>
              <a><cite>{$title}</cite></a>
            </span>
  <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
     href="javascript:location.replace(location.href);" title="刷新">
    <i class="layui-icon" style="line-height:30px">ဂ</i>
  </a>
</div>
<div class="x-body">
  <form class="layui-form x-center" action="/sys/org" method="get">
    <div class="layui-form-pane" style="text-align: center;">
      <div class="layui-form-item" style="display: inline-block;">
        <div class="layui-input-inline">
          <input type="text" name="string" value="{$string}" placeholder="名称/电话/地址" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-input-inline" style="width:80px">
          <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </div>
      </div>
    </div>
  </form>
  <xblock>
    <button class="layui-btn" onclick="member_edit('添加','/sys/org/edit','/sys/org','')"><i class="layui-icon">&#xe608;</i>添加</button>
    <button class="layui-btn layui-btn-danger" onclick="member_del(-1,'/sys/org/delete','/sys/org')"><i class="layui-icon">&#xe640;</i>批量删除</button> 
    <span class="x-right" style="line-height:40px">共有数据：{$cnt} 条</span></xblock>
  <table class="layui-table">
    <thead>
    <tr>
      <th style="width:20px;">
        <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
      </th>
      <th style="width:40px;">ID</th>
      <th>名称</th>
      <th>地址</th>
      <th>电话</th>
      <th>传真</th>
      <th>官网</th>
      <th>简介</th>
      <th>状态</th>
      <th>创建时间</th>
      <th style="width:120px;">操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name="list" id="vo"}
    <tr>
      <td>
        <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$vo.fid}'><i class="layui-icon">&#xe605;</i></div>
      </td>
      <td>{$vo.fid}</td>
      <td>{$vo.org_name}</td>
      <td>{$vo.address}</td>
      <td>{$vo.tel}</td>
      <td>{$vo.fax}</td>
      <td><a target="_blank"href="{$vo.web_url}">{$vo.web_url}</a></td>
      <td>{$vo.description}</td>
      <td>{$vo.record_status|is_status}</td>
      <td>{$vo.create_time}</td>
      <td class="td-manage">
      
              <a title="编辑" href="javascript:;" onclick="member_edit('编辑','/sys/org/edit','/sys/org','{$vo.fid}',0,0)"
                 class="ml-5" style="text-decoration:none" 
                >
                <i class="layui-icon" >&#xe642;</i>
              </a>

              <a title="删除" href="javascript:;" onclick="member_del('{$vo.fid}','/sys/org/delete','/sys/org')"
                 style="text-decoration:none">
                <i class="layui-icon">&#xe640;</i>
              </a>
      </td>
    </tr>
    {/volist}
    </tbody>
  </table>
  <div class="page">
    {$list->render()}
  </div>
</div>
{include file="public/top_js" /}
<script>
</script>
</body>
</html>