{include file="public/header" /}
<body>
<div class="x-nav">
    会议名称：{$convention_name}
  <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
     href="javascript:location.replace(location.href);" title="刷新">
    <i class="layui-icon" style="line-height:30px">ဂ</i>
  </a>
</div>
<div class="x-body">
  <form class="layui-form x-center" action="/menu/meet" method="get">
    <div class="layui-form-pane" style="text-align: center;">
      <div class="layui-form-item" style="display: inline-block;">


        <div class="layui-input-inline">
          <input type="text" name="string" value="{$string}"  autocomplete="off" class="layui-input">
          <input type="hidden" name="fid" value="{$convention_id}">
        </div>
        <div class="layui-input-inline" style="width:80px">
          <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </div>
      </div>
    </div>
  </form>
  <xblock>
    <span class="layui-btn" style="line-height:40px">共有数据：{$cnt} 条</span>
  </xblock>

  <table class="layui-table">
    <thead>
    <tr>
        <th style="width:20px;">
          <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
        </th>
        <th style="width:40px;">ID</th>
        <th>菜单名称</th>
        <th>菜单路由</th>
        <th>当前状态</th>
        <th style="width:120px;">操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name="list" id="vo"}
    <tr>
    <tr>
      <td>
        <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$vo.fid}'><i class="layui-icon">&#xe605;</i></div>
      </td>
      <td>{$vo.fid}</td>
      <td title="{$vo.menu_name}">{$vo.menu_name}</td>
      <td title="{$vo.route}">{$vo.route|default='父级菜单'}</td>
      <td>
        {if condition="in_array($convention_id,explode(',',$vo.convention_ids))"}
            禁用
        {else}
            启用
        {/if}
      </td>
      <td class="td-manage">
          {if condition="in_array($convention_id,explode(',',$vo.convention_ids))"}
              <a href="javascript:;" class="layui-btn layui-btn-primary" onclick="member_check({$vo.fid},{$convention_id},'/menu/meetdel','/menu/meet?fid={$convention_id}',1)"
                style="text-decoration:none">
                <span style="color: #4ae18e;">启用</span>
              </a>
          {else}
                  <a href="javascript:;" class="layui-btn layui-btn-primary" onclick="member_check({$vo.fid},{$convention_id},'/menu/meetdel','/menu/meet?fid={$convention_id}',2)"
                    style="text-decoration:none">
                    <span style="color: #e1504a;">禁用</span>
                  </a>
          {/if}
      </td>      
    </tr>
    {/volist}
    </tbody>
  </table>
  <div class="page">
    {$list->render()}
  </div>
</div>
<!-- 审核操作 -->
<script>
  function member_check(id, convention_id, url, urls,type) {
    var html=type==1?"启用":"禁用";
    if (id == '' || id== null || id < 0) {
      layer.msg('请选择要操作的选项！', { icon: 2, time: 2000 });
    } else {
      layer.confirm("确认要"+html+'?', {
        btn: ['是', '否']
      }, function () {
        //发异步审核数据
        $.ajax({
          type: "post",
          url: url,
          data: { fid: id, convention_id: convention_id,type:type },
          dataType: "json",
          success: function (data) {
            if (data > 0) {
              layer.msg(html+"成功", { icon: 1, time: 1000 });
            } else {
              layer.msg(html +"失败", { icon: 1, time: 1000 });
            }
            setTimeout(function () {
              window.location.href = urls;
            }, 1000);
          }
        });
      }, function () {
         window.location.href = urls;
      });
    }
  }
</script>
</body>
</html>