{include file="public/header" /}
<body>
<div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>会议管理</cite></a>
              <a><cite>阅读记录</cite></a>
            </span>
  <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
     href="javascript:location.replace(location.href);" title="刷新">
    <i class="layui-icon" style="line-height:30px">ဂ</i>
  </a>
</div>
<div class="x-body">
  <form class="layui-form x-center" action="{$index|default='/'}" method="get">
    <div class="layui-form-pane" style="text-align: center;">
      <div class="layui-form-item" style="display: inline-block;">
        <div class="layui-input-inline">
          <input type="text" name="string" value="{$string}"  autocomplete="off" class="layui-input">
        </div>
        <input type="hidden" name="convention_id" value="{$convention_id|default=0}">
        <div class="layui-input-inline" style="width:80px">
          <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </div>
      </div>
    </div>
  </form>
  <xblock>
    <button class="layui-btn layui-btn-danger" onclick="member_del(-1,'{$del|default='/'}','{$index|default='/'}')"><i class="layui-icon">&#xe640;</i>批量删除</button> 
    <span class="x-right" style="line-height:40px">共有数据：{$cnt} 条</span>
  </xblock>

  <table class="layui-table">
    <thead>
    <tr>
      <th style="width:20px;">
        <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
      </th>    
      <th style="width:40px;">ID</th>
      <th>阅读者</th>
      <th>阅读时间</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name="list" id="vo"}
    <tr>
      <td>
        <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$vo.fid}'><i class="layui-icon">&#xe605;</i></div>
      </td>    
      <td>{$vo.fid}</td>
      <td>{$vo.creator_id,1|get_enduser_info}</td>
      <td>{$vo.create_time}</td>
      <td>{$vo.record_status|is_status}</td>
      <td class="td-manage"> 
              <a title="删除" href="javascript:;" onclick="member_dels('{$vo.fid}','{$del|default='/'}','{$index|default='/'}','{$vo.fid|default=0}')"
                 style="text-decoration:none">
                <i class="layui-icon">&#xe640;</i>
              </a>
      </td>      
    </tr>
    {/volist}
    </tbody>
  </table>
  <div class="page">
    {$list->render()}
  </div>
</div>
{include file="public/top_js" /}
</body>
</html>